html {  /* 1rem=10pxにする為の設定 */
  font-size: 62.5%;
}

body {  /* 一般的によく使われるゴシック体のフォントを優先順位順に複数指定 */
  font-family: Arial, 'Helvetica Neue' , 'Yu Gothic Medium' , YuGothic , Verdana , Meiryo , sans-serif;
  background-color: #4B5661;
}

img,
iframe {  /* 地図を埋め込む際に余分な下部余白を調整するためのもの */
  vertical-align: bottom;
}

/* ヘッダー */
header { /* logo & heroimage */
  background-color: #4B5661;
  margin: 0 auto; /* o auto はmarginで中央よせにするテク */
  max-width: 100%; /* レスポンシブ対応時は「max-width: 1280px;」が便利 */
}

h1 {  /* logo */
  margin: 0 auto;
  max-width: 960px;
  height: 60px;
  
  /* flexbox */
  display: flex;
  align-items: center;
 
  padding-left: 10px;
}

header p { /* スペースで区切られたセレクタを「子孫セレクタ」と呼ぶ */
  margin-top: 0; /* リセットCSSでもリセットできないマージンを削除 */
}

header h1 img { /* logo */
  height: 30px;
  padding: 0px 10px;
}

header p img { /* hero image */
  width: 100%;
}

/* メインコンテンツのグループ */
 
section {
  margin: 20px auto 0;
  max-width: 960px;
}
 
section:first-child {
  margin: 100px auto 0;
}
 
h2 {
  font-family: "Yu Mincho", YuMincho ,"Hiragino Mincho Pro" , serif;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}
 
section ol {
  color: #B0B0B0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; /*等間隔に配置*/
  padding-left: 0; /*Chromeの場合のスタイルを削除する処理*/
}
 
section ol li {
  border: #000 0px solid; /*境界線の指定*/
  background-color: #4B5661;
  padding: 20px;
  margin: 10px;
  filter: drop-shadow(0px 0px 4px rgb(0, 0, 0)); /* 影 */
  flex-basis: 100px;
  list-style-type: none; /*リストの形式をリセット*/
}

section ol li img{
  max-width: 250px;
}
 
h3 {/*メニュー名のフォントサイズ指定*/
  font-size: 2rem;
}
 
section ol li p {
  margin-bottom: 60px;
  line-height: 1.6; /*テキスト行間指定*/
  font-size: 2rem;
}
 
section div {
  height: 380px; /*縦幅を指定*/
  max-width: 960px; /*横幅はレスポンシブ対応にするためmax-widthにする（最大960px）*/
}
 
iframe {
  width: 100%;
}

/* フッターのグループ */
 
footer {
  background-color: #B0B0B0;
  color: #4B5661;
  max-width: 100%;
  height: 360px;
  margin: 100px auto 0; /* 100pxはMapとの間 */
  display: flex; /* フレックスボックス */
  flex-flow: column wrap; /* cokumn＝縦 wrap=折り返し */
  justify-content: center; /* 縦方向で中央揃え */
}
 
footer p,
footer ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
 
footer p { /* フッタータイトル */
  font-family: "Yu Mincho", YuMincho ,"Hiragino Mincho Pro" , serif;
  font-size: 3.6rem;
}
 
footer ul {
  list-style-type: none;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 16px; 
}
 
footer ul li span {
  margin-right: 16px;
}

